.hover-container {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
}

.hover-container:hover {
    width: 300px;
    height: 300px;
}
